/* Import the "Press Start 2P" font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.team-choose {
    font-family: "Press Start 2P", cursive;
}

.character-selection {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.content-wrapper {
    display: flex; 
    margin-left: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 600px; 
    width: 50%;
    margin-top: 1em;    
}

.character {
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character:hover {
    transform: scale(1.05);
}

.character h3 {
    font-size: small;
    margin: 0;
    color: white;
}

.character-image{
    width: 50%;
    max-height: 40vh;
    width: 20em;
    margin-left: auto; /* Centraliza a imagem no canto direito */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.character-image img {
    max-width: 100%; /* Torna a imagem responsiva */
    max-height: 100%; /* Torna a imagem responsiva */
}